/* Some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  
}

/* Styles for the transparent navbar */
nav {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for visibility */
  transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
}

/* Styles for the opaque navbar when scrolled */
nav.scrolled {
  background-color: wheat; /* Light background color when scrolled */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adjust the shadow when scrolled */
}

.contact{
  padding: 10px 20px;
  background-color: #fff;
  color: #800080;
  font-size: 16px;
  font-weight: 540;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.contact:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: slateblue;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
  letter-spacing: 10px;
}

.nav-links a:hover {
  color: #f0f0f0;
}

.logo img {
  max-width: 100px;

}

.container{
  height: 100%;
  background: linear-gradient(to right, #800080, #FFFF00);
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav {
    padding: 20px 30px; /* Adjust padding for smaller screens */
  }

  .nav-links {
    display: none; /* Hide the navigation links on smaller screens */
  }

  .logo img {
    max-width: 80px; /* Reduce logo size on smaller screens */
    transform: rotateY(30deg) translateZ(50px); /* Adjust the rotation and translation values */
  }

  /* Show the navigation links in a mobile menu */
  .nav-links.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
  }

  .nav-links.mobile li {
    margin: 15px 0;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: auto;
  padding: 20px 100px 50px 100px;
}

.header-content {
  flex: 1;
}

header h1 {
  font-size: 50px;
  max-width: 500px;
  color: wheat;
}

header p{
  font-size: 18px;
  max-width: 500px;
  color: wheat;
}

.buttons-container1 {
  padding: 20px;
  
}

#watch-video {
  padding: 10px 20px;
  background-color: transparent;
  color: wheat;
  font-size: 16px;
  font-weight: 540;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

#watch-video:hover {
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Adjust the shadow when scrolled */
  border-radius: 20px;
  color:black;
}

button svg {
  margin-right: 10px; /* Add space between the icon and text */
}

/* Styles for the header text animation */
@keyframes headerTextChange {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-animation {
  display: inline-block;
  position: relative;
  animation: headerTextChange 5s infinite;
}

.header-animation:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Styles for the header on smaller screens */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  header h1 {
    font-size: 40px; /* Reduce font size for smaller screens */
    max-width: 100%; /* Remove max-width constraint on smaller screens */
  }

  header p {
    font-size: 16px; /* Reduce font size for smaller screens */
    max-width: 100%; /* Remove max-width constraint on smaller screens */
  }

  .buttons-container {
    padding-top: 20px; /* Add some spacing between the text and buttons */
  }
}

.break{
  height: 50px;
  width: 100%;
  background: linear-gradient(to top,  #fff,#80008025);
}

/* Styles for the slider section */
.slider-section {
  padding: 80px 50px 50px 50px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the slider container */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  height: 300px;
  width: 857px; 
  border-radius: 20px;
  position: relative;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Add smooth sliding transition */
  padding: 20px;
}


/* Styles for the slider cards */
.slider-card {
  height: 250px; 
  width: 400px; 
  margin: 10px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #f0e0fa;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease; 
}


/* Activate the card on hover */
.slider-card:hover {
  transform: scale(1.1); /* Enlarge the card on hover */
  background: wheat;
  border-radius: 10px;
}

/* Styles for the slider cards' heading */
.slider-card h3 {
  font-size: 24px;
  color: #800080;
  margin-bottom: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Styles for the slider cards' paragraph */
.slider-card p {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Styles for the slider cards' image */
.slider-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Styles for the slider navigation buttons */
.slider-button {
  padding: 10px 20px;
  background-color:#800080;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 540;
  border-radius: 20px;
}

.slider-button:hover{
  transform: scale(1.1);
}
.buttons-container2{
position: absolute;
top: 0;
right: 10%;
padding: 20px;
}

#programs{
  align-items: center;
  justify-content: center;
  display: flex;
  position:absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  padding-top: 20px;

}

#programs p{
  padding-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 34px;
  color: #800080
}

#programs img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #58769793;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .slider-container {
    max-width: 500px; 
  }
  .slider-card {
    width: 300px; 
  }
  #programs p {
    font-size: 20px; 
  }
  #programs img {
    width: 30px; 
    height: 30px; 
  }
}

.info-section {
  padding: 50px 0;
}

.info-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro {
  flex-basis: 100%;
  text-align: center;
}

.intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.intro h2 {
  font-size: 32px;
  color: #800080;
  margin: 20px 0;
}

.intro p {
  font-size: 18px;
  color: #555;
}

.boxes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.first-half {
  flex-basis: 50%;
}

.box {
  flex-basis: 45%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 24px;
  color: #800080;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
  color: #555;
}

.box:hover {
  transform: translateY(-5px);
}

.bottom-image {
  flex-basis: 45%;
  text-align: right;
  margin-top: 300px;
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .first-half,
  .bottom-image {
    flex-basis: 100%;
    text-align: center;
  }

  .box {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}


/* styles for the "Get Started With Eatly" section */
.get-started {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.get-started-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.get-started-image {
  flex-basis: 45%;
  text-align: center;
}

.get-started-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.get-started-content {
  flex-basis: 50%;
  text-align: left;
}

.get-started h2 {
  font-size: 32px;
  color: #800080;
  margin-bottom: 20px;
}

.get-started p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.get-started-button {
  padding: 12px 24px;
  background-color: #800080;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #700070;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .get-started-container {
    flex-direction: column;
  }

  .get-started-image,
  .get-started-content {
    flex-basis: 100%;
    text-align: center;
  }

  .get-started-image {
    margin-bottom: 30px;
  }
}

/* Scrollbar styling  */

.section-five {
  padding: 50px;
  position: relative;
}

#wrapper-div{
  display: flex;
  align-items:center ;
  justify-content: center;
}

#intro-nav{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: 300px;
  top: 0;
}

#intro-nav img{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 3px solid #dcb3f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#intro-nav h3{
  font-size: 24px;
  color: #800080;
  margin-left: 20px;
}

#intro-nav p{
  color: #957d9c;
  font-weight: 300;
}

#navbar {
  width: 400px;
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-color: rgba(0, 22, 22, 0.4);
  background-color: transparent; 
  padding-right: 20px;
  overflow-y:scroll;
}

#navbar li {
  color: #4d4e53;
  padding: 10px 30px;
  background: #fff6ffb9;
  border-radius: 10%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #f0e0fa;
}

#navbar li img{
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 30px;
  border: 3px solid #fff;

}

#navbar a {
  display: block;
  color: #957d9c;
  text-decoration: none;
  cursor: pointer;
}

#navbar li:hover {
  background-color: #ddd;
  transition: background-color 0.4s ease;
}


#wrapper-div p {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0 0 20px;
}


/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #700070;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddbcdd;
}